/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/partials/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/partials/_normalize.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/partials/_normalize.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/partials/_normalize.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/partials/_layout.scss */
body {
  background: url("../images/ps_neutral.png");
}

/* line 5, ../sass/partials/_layout.scss */
header {
  height: 50px;
}
/* line 7, ../sass/partials/_layout.scss */
header p {
  float: right;
  font-family: 'Jura', sans-serif;
  font-size: 2.3rem !important;
  padding: 15px;
}

/* line 15, ../sass/partials/_layout.scss */
.img-wrapper {
  width: 90%;
  height: 0;
  position: relative;
  border: 2px solid black;
  padding-bottom: 75.71;
}
/* line 21, ../sass/partials/_layout.scss */
.img-wrapper img {
  position: absolute;
  width: 100%;
}

/* line 27, ../sass/partials/_layout.scss */
.crop {
  height: 195px;
  width: 350px;
  overflow: hidden;
  border-radius: 15px;
}

/* line 34, ../sass/partials/_layout.scss */
.flex-container {
  width: 100%;
  background-color: #6c0f0f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e64b4b", endColorstr="#6b0e0e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e64b4b), to(#6b0e0e));
  background-image: -moz-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -ms-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e64b4b), color-stop(100%, #6b0e0e));
  background-image: -webkit-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -o-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: linear-gradient(#e64b4b, #6b0e0e);
  border-color: #6b0e0e #6b0e0e #430909;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 53, ../sass/partials/_layout.scss */
.flex-container ul {
  display: flex;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  font-size: 1.5rem;
}
/* line 59, ../sass/partials/_layout.scss */
.flex-container li {
  padding: 20px;
  color: white;
}
/* line 63, ../sass/partials/_layout.scss */
.flex-container li a {
  color: white;
}

/* line 70, ../sass/partials/_layout.scss */
.hero-logo {
  margin-top: 8%;
}
/* line 72, ../sass/partials/_layout.scss */
.hero-logo h1 {
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 6rem;
}
/* line 77, ../sass/partials/_layout.scss */
.hero-logo .hero-logo img {
  margin-top: 15%;
}

/* line 81, ../sass/partials/_layout.scss */
.hero-logo p {
  font-family: 'Jura', sans-serif;
  font-size: 1.5rem !important;
  margin: 0px !important;
}

/* line 89, ../sass/partials/_layout.scss */
.welcome-section {
  border: 1px solid grey;
  height: 445px;
  background-color: white;
}
/* line 93, ../sass/partials/_layout.scss */
.welcome-section h2 {
  font-size: 72px;
  text-align: left;
  font-family: 'Jura', sans-serif;
}
/* line 98, ../sass/partials/_layout.scss */
.welcome-section p {
  font-family: 'Arimo', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* line 104, ../sass/partials/_layout.scss */
.inside-welcome-section {
  padding: 25px;
}

/* line 108, ../sass/partials/_layout.scss */
.services-section {
  margin: 50px 0px 50px 0px;
}
/* line 110, ../sass/partials/_layout.scss */
.services-section h2 {
  font-size: 56px;
  margin-top: 3%;
  font-family: 'Jura', sans-serif;
}
/* line 115, ../sass/partials/_layout.scss */
.services-section h3 {
  font-size: 34px;
  margin-top: 24%;
  font-family: 'Jura', sans-serif;
  color: white;
  position: absolute;
  width: 90%;
  text-align: center;
  top: 0;
}
/* line 126, ../sass/partials/_layout.scss */
.services-section p {
  margin-top: 3%;
  font-family: 'Arimo', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* line 135, ../sass/partials/_layout.scss */
.picnic-menu-section h2, .wedding-menu h2 {
  font-size: 36px;
  margin-top: 3%;
  font-family: 'Jura', sans-serif;
  padding-bottom: 10px;
  text-align: center;
}
/* line 142, ../sass/partials/_layout.scss */
.picnic-menu-section p, .wedding-menu p {
  margin-top: 8%;
  font-family: 'Arimo', sans-serif;
  font-size: 1.2rem;
  line-height: 2.3rem;
}
/* line 148, ../sass/partials/_layout.scss */
.picnic-menu-section img, .wedding-menu img {
  border-radius: 30px;
}

/* line 155, ../sass/partials/_layout.scss */
.menu-section {
  margin: 50px 0px 50px 0px;
}
/* line 157, ../sass/partials/_layout.scss */
.menu-section h2 {
  font-size: 56px;
  margin-top: 3%;
  font-family: 'Jura', sans-serif;
}
/* line 162, ../sass/partials/_layout.scss */
.menu-section .menu ul li a {
  font-size: 1.5rem;
  font-family: 'Arimo', sans-serif;
  color: black;
}

/* line 170, ../sass/partials/_layout.scss */
.contact-section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  height: 250px;
  background-color: #6c0f0f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e64b4b", endColorstr="#6b0e0e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e64b4b), to(#6b0e0e));
  background-image: -moz-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -ms-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e64b4b), color-stop(100%, #6b0e0e));
  background-image: -webkit-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -o-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: linear-gradient(#e64b4b, #6b0e0e);
  border-color: #6b0e0e #6b0e0e #430909;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
  -webkit-font-smoothing: antialiased;
}

/* line 193, ../sass/partials/_layout.scss */
.picnic-section h2, .tea-section h2, .wedding-section h2, .wedding-menu h2 {
  font-size: 56px;
  margin-top: 3%;
  font-family: 'Jura', sans-serif;
}
/* line 198, ../sass/partials/_layout.scss */
.picnic-section p, .tea-section p, .wedding-section p, .wedding-menu p {
  margin-top: 3%;
  font-family: 'Arimo', sans-serif;
  font-size: 1.2rem;
}
/* line 203, ../sass/partials/_layout.scss */
.picnic-section img, .tea-section img, .wedding-section img, .wedding-menu img {
  border-radius: 10px;
}

/* line 207, ../sass/partials/_layout.scss */
.tea-section p {
  line-height: 3rem;
}

/* line 211, ../sass/partials/_layout.scss */
.tea-section h3 {
  font-family: 'Arimo', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
/* line 216, ../sass/partials/_layout.scss */
.tea-section ul {
  font-family: 'Arimo', sans-serif;
  line-height: 1.5rem;
}

/* line 222, ../sass/partials/_layout.scss */
.wedding-menu p {
  line-height: 2rem;
}
/* line 225, ../sass/partials/_layout.scss */
.wedding-menu h3 {
  font-size: 36px;
  margin-top: 3%;
  font-family: 'Jura', sans-serif;
  padding-bottom: 10px;
  text-align: center;
}

/* line 235, ../sass/partials/_layout.scss */
#homepage-breakfast .row, #homepage-appetizers .row, #homepage-buffets .row, #homepage-desserts .row {
  font-size: 1.115rem;
  margin-top: 20px;
  font-family: 'Arimo', sans-serif;
  line-height: 185%;
}

/* line 242, ../sass/partials/_layout.scss */
.contact-section h3 {
  font-size: 3rem;
  font-family: 'Jura', sans-serif;
  white-space: nowrap;
  position: absolute;
  left: 20px;
  margin-top: 10px;
}

/* line 250, ../sass/partials/_layout.scss */
#contact2 p, #contact3 p {
  font-size: 20px !important;
}

/* line 254, ../sass/partials/_layout.scss */
#contact1, #contact2, #contact3 {
  display: flex;
  justify-content: center;
  align-items: left;
}

/* line 260, ../sass/partials/_layout.scss */
#contact1, #contact3 {
  align-items: center !important;
}

/* line 264, ../sass/partials/_layout.scss */
#contact1, #contact2 {
  flex-direction: column;
}

/* line 267, ../sass/partials/_layout.scss */
#contact1, #contact2 li, #contact3 li {
  font-family: 'Arimo', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* line 272, ../sass/partials/_layout.scss */
#contact3 ul {
  display: inherit;
}

/* line 275, ../sass/partials/_layout.scss */
#contact3 li {
  margin-left: 10px;
}

/* line 280, ../sass/partials/_layout.scss */
.contact-page h2 {
  font-size: 56px;
  margin-top: 5%;
  margin-bottom: 3%;
  font-family: 'Jura', sans-serif;
}
/* line 286, ../sass/partials/_layout.scss */
.contact-page h3 {
  font-size: 26px;
  margin-top: 3%;
  font-family: 'Jura', sans-serif;
}
/* line 291, ../sass/partials/_layout.scss */
.contact-page p {
  margin-top: 3%;
  font-family: 'Arimo', sans-serif;
  font-size: 1.2rem;
}

/* line 298, ../sass/partials/_layout.scss */
footer {
  height: 150px;
}

/* line 302, ../sass/partials/_layout.scss */
.footer-flex-container {
  width: 970px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 310, ../sass/partials/_layout.scss */
.footer-flex-container ul {
  display: flex;
  font-family: 'Arimo', sans-serif;
}
/* line 314, ../sass/partials/_layout.scss */
.footer-flex-container li {
  padding-right: 40px;
}
/* line 317, ../sass/partials/_layout.scss */
.footer-flex-container h3 {
  font-size: 1.5rem;
  font-family: 'Jura', sans-serif;
}

/* line 1, ../sass/partials/_buttons.scss */
.btn-custom {
  background-color: #6c0f0f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e64b4b", endColorstr="#6b0e0e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e64b4b), to(#6b0e0e));
  background-image: -moz-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -ms-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e64b4b), color-stop(100%, #6b0e0e));
  background-image: -webkit-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -o-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: linear-gradient(#e64b4b, #6b0e0e);
  border-color: #6b0e0e #6b0e0e #430909;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
  -webkit-font-smoothing: antialiased;
  font-family: 'Arimo', sans-serif;
}

/* line 19, ../sass/partials/_buttons.scss */
.welcome-section button, .services-section button, .picnic-section button, .wedding-section button {
  margin: 30px 0px 20px 0px;
  font-size: 1rem;
  padding: 15px 30px;
  border-radius: 10px;
}

/* line 25, ../sass/partials/_buttons.scss */
.services-section button {
  margin: 10px 0px !important;
}

/* line 28, ../sass/partials/_buttons.scss */
.picnic-section button, .wedding-section button {
  padding: 15px 75px !important;
}

/* line 33, ../sass/partials/_buttons.scss */
.active a {
  color: white !important;
  background-color: #6c0f0f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e64b4b", endColorstr="#6b0e0e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e64b4b), to(#6b0e0e));
  background-image: -moz-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -ms-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e64b4b), color-stop(100%, #6b0e0e));
  background-image: -webkit-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: -o-linear-gradient(top, #e64b4b, #6b0e0e);
  background-image: linear-gradient(#e64b4b, #6b0e0e);
  border-color: #6b0e0e #6b0e0e #430909;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 475px) {
  /* line 3, ../sass/partials/_mobile.scss */
  header, footer, .container-fluid {
    display: none;
  }

  /* line 6, ../sass/partials/_mobile.scss */
  .hero-logo {
    margin-top: 35%;
  }

  /* line 9, ../sass/partials/_mobile.scss */
  .hero-logo img {
    width: 125px;
    height: 125px;
  }

  /* line 13, ../sass/partials/_mobile.scss */
  .hero-logo h1 {
    font-size: 3rem;
  }

  /* line 16, ../sass/partials/_mobile.scss */
  .hero-logo p {
    font-size: 1.1rem !important;
  }

  /* line 21, ../sass/partials/_mobile.scss */
  .welcome-section {
    text-align: center;
    background-color: transparent;
    border: none;
  }

  /* line 26, ../sass/partials/_mobile.scss */
  .welcome-img {
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  /* line 31, ../sass/partials/_mobile.scss */
  .crop {
    width: 100%;
    height: auto;
  }

  /* line 35, ../sass/partials/_mobile.scss */
  #build-picnic, #tea-delectables, #wedding-delectables {
    text-align: center;
  }

  /* line 38, ../sass/partials/_mobile.scss */
  .menu-container {
    padding: 0px;
    margin: 0px;
  }

  /* line 42, ../sass/partials/_mobile.scss */
  .menu {
    margin: 0px !important;
    padding: 0px !important;
  }
}
/* line 7, ../sass/styles.scss */
#owl-demo .item {
  margin: 3px;
}

/* line 10, ../sass/styles.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: 250px;
}
